<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>BPS_Reports_BIRT</display-name>
	<!-- Report resources directory for preview. Defaults to ${birt home} -->

	<context-param>
		<param-name>BIRT_VIEWER_WORKING_FOLDER</param-name>
		<param-value>report</param-value>
	</context-param>

	<!-- Flag whether the report resources can be accessed only under the working 
		folder. Defaults to true -->
	<context-param>
		<param-name>WORKING_FOLDER_ACCESS_ONLY</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Settings for how to deal with the url report path. For example, "http://host/repo/test.rptdesign". 
		Following values are supported: <all> - All paths. <domain> - Only the paths 
		with host matches current domain. The comparison is literal, "127.0.0.1" 
		and "localhost" are considered as different hosts. <none> - URL paths are 
		not supported. Defaults to "domain". -->
	<context-param>
		<param-name>URL_REPORT_PATH_POLICY</param-name>
		<param-value>domain</param-value>
	</context-param>

	<!-- Defines the BIRT viewer configuration file -->
	<context-param>
		<param-name>BIRT_VIEWER_CONFIG_FILE</param-name>
		<param-value>WEB-INF/viewer.properties</param-value>
	</context-param>

	<!-- Flag whether to allow server-side printing. Possible values are "ON" 
		and "OFF". Defaults to "ON". -->
	<context-param>
		<param-name>BIRT_VIEWER_PRINT_SERVERSIDE</param-name>
		<param-value>ON</param-value>
	</context-param>

	<!-- Flag whether to force browser-optimized HTML output. Defaults to true -->
	<context-param>
		<param-name>HTML_ENABLE_AGENTSTYLE_ENGINE</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Filename generator class/factory to use for the exported reports. -->
	<context-param>
		<param-name>BIRT_FILENAME_GENERATOR_CLASS</param-name>
		<param-value>org.eclipse.birt.report.utility.filename.DefaultFilenameGenerator</param-value>
	</context-param>
	<!-- Viewer Filter used to set the request character encoding to UTF-8. -->
	<filter>
		<filter-name>ViewerFilter</filter-name>
		<filter-class>org.eclipse.birt.report.filter.ViewerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ViewerFilter</filter-name>
		<servlet-name>ViewerServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ViewerFilter</filter-name>
		<servlet-name>EngineServlet</servlet-name>
	</filter-mapping>

	<!-- Viewer Servlet Context Listener -->
	<listener>
		<listener-class>org.eclipse.birt.report.listener.ViewerServletContextListener</listener-class>
	</listener>

	<!-- Viewer HttpSession Listener -->
	<listener>
		<listener-class>org.eclipse.birt.report.listener.ViewerHttpSessionListener</listener-class>
	</listener>
	<!-- Viewer Servlet, Supports SOAP -->
	<servlet>
		<servlet-name>ViewerServlet</servlet-name>
		<servlet-class>org.eclipse.birt.report.servlet.ViewerServlet</servlet-class>
	</servlet>

	<!-- Engine Servlet -->
	<servlet>
		<servlet-name>EngineServlet</servlet-name>
		<servlet-class>org.eclipse.birt.report.servlet.BirtEngineServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ViewerServlet</servlet-name>
		<url-pattern>/frameset</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ViewerServlet</servlet-name>
		<url-pattern>/run</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/preview</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/parameter</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/document</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/output</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/extract</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>spring-web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/frontpage</url-pattern>
	</servlet-mapping>
	
    <servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/roles</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
   <servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/loginProcess</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/repList</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/roleSet</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/session</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/sessionexpired</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/webcontent/sessionexpired</url-pattern>
	</servlet-mapping>
	
			<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/webcontent/frontpage</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/showHistory</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/showSchedules</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/downloadFile</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/fileremoved</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/sendEmail</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/sendEmailProcess</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/mailSent</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/CancelTask</url-pattern>
	</servlet-mapping>
	<!-- For Web module version higher than 2.3 -->
	<jsp-config>
		<taglib>
			<taglib-uri>/birt.tld</taglib-uri>
			<taglib-location>/WEB-INF/tlds/birt.tld</taglib-location>
		</taglib>
	</jsp-config>

	<!-- For Web module version 2.3 -->
	<!-- <taglib> <taglib-uri> /birt.tld </taglib-uri> <taglib-location> /WEB-INF/tlds/birt.tld 
		</taglib-location> </taglib> -->
	<!--Test <context-param> <param-name>myProperties</param-name> <param-value>${catalina.home}/conf/application.properties</param-value> 
		</context-param> <servlet> <servlet-name>reader</servlet-name> <servlet-class>com.dxc.reports.util.ReadProperties</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>reader</servlet-name> <url-pattern>/</url-pattern> 
		</servlet-mapping> Test -->
	<context-param>
		<param-name>myProperties</param-name>
		<param-value>C:\\BPS_BIRT_Report_Properties\\</param-value>
	</context-param>
	<context-param>
		<param-name>cronProperties</param-name>
		<param-value>C:\\BPS_BIRT_Report_Properties\\cronexpression.properties</param-value>
	</context-param>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>

	<error-page>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>
	
  <listener>
	<listener-class>
		org.springframework.web.context.request.RequestContextListener
	</listener-class>
   </listener>
   
</web-app>